.album-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}

.album-table th, .album-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.album-table th {
  background-color: #f2f2f2;
  color: #333;
}

.album-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.album-table tr:hover {
  background-color: #f1f1f1;
}


@media (max-width: 768px) {
  .album-table th, .album-table td {
    padding: 8px;
    font-size: 14px;
  }
}
